
@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>

<script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jqueryMe.js"></script>
<div class="container">
    <h4><button id="userBTN">User</button></h4>
    <div class="container">
        <table class="table-bordered">
            <thead>
            <th>User Age</th>
            <th>User Profession</th>
            </thead>
            <tbody id="userTBL"></tbody>
        </table>
    </div>
</div>